body{
    background-color: #5CDB95;
}

h1{
    color: #05386B;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 48px;
}

h2
{
    color: #05386B;
    font-family: Arial, sans-serif;
}

p, li{
    color: #05386B;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 20px;
}

div{
    text-align: center;
}

#lower-alpha-list{
    list-style: lower-alpha;
}

#lower-roman-list{
    list-style: lower-roman;
}

#bold-text{
    font-weight: bold;
}