.navbar-brand
{
    font-weight: bold;
}

#manufacturer
{
    width: 220px;
}

#product
{
    width: 220px;
}

.card
{
    width: 288px;
    height: 620px;
}

.card:hover
{
    border: 1px;
    border-style: solid;
    border-color: black;
}

.card img{
    height: 260px;
    width: auto;
    object-fit: contain;
}