body{
    background-image: url(../images/zGR9G.jpg);
    background-size: cover;
}

#main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app
{
    background-color: white;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    position: relative;
    background-image: url(images/posting-app-background.webp);
    background-size: cover;
}

#user
{
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0px 60px;
}

#user-image
{
    border-radius: 50%;
}

#user-name
{
    margin: auto 10px;
}

#text-container
{
    padding: 0px 60px;
}

#text
{
    height: 300px;
    border: none;
    resize: none;
    font-size: 20px;
    border-radius: 5px;
}

#text:focus
{
    outline: none;
}

#buttons
{
    padding: 0px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#white-theme{
    background-color: white;
    border: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

#white-theme:hover{
    transform: scale3d(1.05, 1.05, 1.05);
}

#white-theme:not(:hover){
    transform: scale3d(1, 1, 1);
}

#violet-theme{
    background-color: violet;
    border: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

#violet-theme:hover{
    transform: scale3d(1.05, 1.05, 1.05);
}

#wviolet-theme:not(:hover){
    transform: scale3d(1, 1, 1);
}

#indigo-theme{
    background-color: indigo;
    border: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

#indigo-theme:hover{
    transform: scale3d(1.05, 1.05, 1.05);
}

#indigo-theme:not(:hover){
    transform: scale3d(1, 1, 1);
}

#blue-theme{
    background-color: blue;
    border: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

#blue-theme:hover{
    transform: scale3d(1.05, 1.05, 1.05);
}

#blue-theme:not(:hover){
    transform: scale3d(1, 1, 1);
}

#green-theme{
    background-color: green;
    border: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

#green-theme:hover{
    transform: scale3d(1.05, 1.05, 1.05);
}

#green-theme:not(:hover){
    transform: scale3d(1, 1, 1);
}

#yellow-theme{
    background-color: yellow;
    border: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

#yellow-theme:hover{
    transform: scale3d(1.05, 1.05, 1.05);
}

#yellow-theme:not(:hover){
    transform: scale3d(1, 1, 1);
}

#orange-theme{
    background-color: orange;
    border: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

#orange-theme:hover{
    transform: scale3d(1.05, 1.05, 1.05);
}

#orange-theme:not(:hover){
    transform: scale3d(1, 1, 1);
}

#red-theme{
    background-color: red;
    border: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

#red-theme:hover{
    transform: scale3d(1.05, 1.05, 1.05);
}

#red-theme:not(:hover){
    transform: scale3d(1, 1, 1);
}

#post-btn
{
    color:white;
    background-color: rgb(0, 128, 255);
    /* background-color: rgb(150, 200, 250); */
    border: none;
    border-radius: 25px;
    height: 45px;
    width: 75px;
    font-weight: bold;
}

#output-container
{
    display: flex;
    flex-direction: column-reverse;
}

#output
{
    background-image: url(images/posting-app-background.webp);
    background-size: cover;
    width: 600px;
    border-radius: 10px;
    position: relative;
    margin-top: 20px;
}

#output-text
{
    position: relative;
    font-size: 20px;
    padding: 10px 60px;
    word-wrap: break-word
}

/* MEDIA QUERIES */

/* For Android (480px) */
@media only screen and (max-width: 480px)
{

    #app
    {
        width: 480px;
        height: 100%;
        max-height: 100%;
        min-height: 500px;
        margin-top: 0px;
    }

    #text-container
    {
        padding: 0px 30px;
    }

    #output-container
    {
        padding: 0px 30px;
    }

    #output
    {
        width: 100%;
    }

}

/* For Iphone (414px) */
@media only screen and (max-width: 414px)
{
    #app
    {
        width: 100%;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        margin-top: 0px;
    }

    #text
    {
        width: 354px;
    }
}

/* For Iphone (390px) */
@media only screen and (max-width: 390px)
{
    #app
    {
        width: 100%;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        margin-top: 0px;
    }

    #text
    {
        width: 330px;
    }
}

/* For Iphone (375px) */
@media only screen and (max-width: 375px)
{
    #app
    {
        width: 100%;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        margin-top: 0px;
    }

    #text
    {
        width: 315px;
    }
}

/* For Android (360px) */
@media only screen and (max-width: 360px)
{
    #app
    {
        width: 100%;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        margin-top: 0px;
    }

    #text
    {
        width: 300px;
    }
}

/* For Android (320px) */
@media only screen and (max-width: 320px)
{
    #app
    {
        width: 100%;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        margin-top: 0px;
    }

    #text
    {
        width: 260px;
    }
}

/* For Android (280px) */
@media only screen and (max-width: 280px)
{
    #app
    {
        width: 100%;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        margin-top: 0px;
    }

    #text
    {
        width: 220px;
    }
}